.article {
    &__items {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        &-reverse {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }

    &__description {
        color: $black;
        width: 47%;
    }

    &__image {
        width: 47%;
        border-radius: 10px;
    }

    &__title {
        font-size: 12px;
        text-transform: uppercase;
    }

    &__info {
        font-size: 10px;
        margin-top: 5px;
    }
}