.categories {
    padding: 15px 0;

    &__grid {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.7fr 0.3fr 1.7fr 1fr 1fr 1fr;
        gap: 15px 15px;
        grid-template-areas:
            "storage tables"
            "beds tables"
            "beds accessories"
            "seats seats"
            "seats seats"
            "seats seats";
    }

    &__link {
        min-height: 110px;
        border-radius: 10px;
        padding: 15px;
        color: $white;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: normal;

        &-storage {
            grid-area: storage;
            background: url('../img/categories/storage-mobile.jpg');
            background-size: cover;
            background-position: center;
        }

        &-beds {
            grid-area: beds;
            background: url('../img/categories/beds-mobile.jpg');
            background-size: cover;
            background-position: center;
        }

        &-tables {
            grid-area: tables;
            background: url('../img/categories/tables-mobile.jpg');
            background-size: cover;
            background-position: center;
        }

        &-accessories {
            grid-area: accessories;
            background: url('../img/categories/accessories-mobile.jpg');
            background-size: cover;
            background-position: center;
        }

        &-seats {
            grid-area: seats;
            background: url('../img/categories/seat-mobile.jpg');
            background-size: cover;
            background-position: center;
        }
    }
}