.categories {
    padding: 30px 0;

    .title {
        &-section {
            font-size: 18px;

            .underline {
                border-bottom: 3px solid $green;
            }
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .mini {
        display: grid;
        grid-template-columns: 135px 135px;
        grid-template-rows: 110px;
        grid-column-gap: 15px;
        grid-row-gap: 15px;

        &__card {
            min-width: 135px;

            h4 {
                top: -40px;
                left: 15px;
                font-size: 14px;
                text-transform: uppercase;
                color: $white;
                font-weight: 500;
            }

            &-storage {
                min-height: 81px;

                &::before {
                    content: url('../img/categories/storage-mobile.jpg');
                }
            }

            &-tables {
                width: 200px;

                &::before {
                    content: url('../img/categories/tables-mobile.jpg');
                    background-size: cover;
                    width: 200px;
                    background-position: center;
                }
            }

            &-beds {
                &::before {
                    content: url('../img/categories/beds-mobile.jpg');
                    background-size: cover;
                    background-position: center;
                }
            }

            &-accessories {
                &::before {
                    content: url('../img/categories/accessories-mobile.jpg');
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }

    .big {
        &__card {
            h4 {
                top: -40px;
                left: 15px;
                font-size: 14px;
                text-transform: uppercase;
                color: $white;
                font-weight: 500;
            }

            &-seat {
                min-height: 285px;

                &::before {
                    content: url('../img/categories/seat-mobile.jpg');
                }
            }
        }
    }
}