.categories {
    &__grid {
        &--first {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1.7fr .3fr 1.7fr 1fr 1fr 1fr;
            gap: 15px 15px;
            grid-template-areas:
                "chest chairs"
                "chest racks"
                "consoles racks"
                "coffee coffee"
                "coffee coffee"
                "coffee coffee";
        }

        &--second {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1.7fr .3fr 1.7fr 1fr 1fr 1fr;
            gap: 15px 15px;
            grid-template-areas:
                "seats shelfs"
                "seats wardrobe"
                "tv-table wardrobe"
                "dinner dinner"
                "dinner dinner"
                "dinner dinner";
        }

        &--third {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1.7fr .3fr 1.7fr 1fr 1fr 1fr;
            gap: 15px 15px;
            grid-template-areas:
                "hangers bar-chairs"
                "hangers table"
                "shoe-cabinets table"
                "desk desk"
                "desk desk"
                "desk desk";
        }
    }

    &__link {
        min-height: 120px;
        border-radius: 10px;
        padding: 15px;
        color: $white;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;

        &--chest {
            grid-area: chest;
            background: url('../img/categories/chest/chest-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--consoles {
            grid-area: consoles;
            background: url('../img/categories/consoles/consoles-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--chairs {
            grid-area: chairs;
            background: url('../img/categories/chairs/chairs-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--racks {
            grid-area: racks;
            background: url('../img/categories/racks/racks-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--coffee {
            grid-area: coffee;
            background: url('../img/categories/coffee-tables/coffee-table-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--seats {
            grid-area: seats;
            background: url('../img/categories/seats/seats-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--tv-table {
            grid-area: tv-table;
            background: url('../img/categories/tv-table/tv-table-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--shelfs {
            grid-area: shelfs;
            background: url('../img/categories/shelfs/shelfs-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--wardrobe {
            grid-area: wardrobe;
            background: url('../img/categories/wardrobe/wardrobe-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--dinner {
            grid-area: dinner;
            background: url('../img/categories/dinner-tables/dinner-table-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--hangers {
            grid-area: hangers;
            background: url('../img/categories/hangers/hangers-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--bar-chairs {
            grid-area: bar-chairs;
            background: url('../img/categories/bar-chairs/bar-chairs-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--shoe-cabinets {
            grid-area: shoe-cabinets;
            background: url('../img/categories/shoe-cabinets/shoe-cabinets-small.webp');
            background-size: cover;
            background-position: center;

        }

        &--table {
            grid-area: table;
            background: url('../img/categories/table/table-small.webp');
            background-size: cover;
            background-position: center;
        }

        &--desk {
            grid-area: desk;
            background: url('../img/categories/desk-tables/desk-tables-small.webp');
            background-size: cover;
            background-position: center;
        }
    }
}