.footer {
    padding: 15px 0;
    background: $black;

    &-inner {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        flex-direction: column;
    }

    &__link {
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 27px;

        &:first-child {
            margin-top: 0;
        }

        a {
            color: $white;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__social {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        background: $green;
        border-radius: 5px;
        color: $white;
        height: 36px;
        width: 36px;
        font-size: 24px;
        margin-left: 10px;
        line-height: 1.7;
        text-align: center;
    }

    &__phone {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 30px;

        span {
            font-size: 10px;
            color: $white;
        }

        a {
            color: $green;
            font-weight: bold;
            font-size: 18px;
            margin: 5px 0;
        }
    }

    &__mail {
        margin-top: 5px;
        font-size: 18px;

        a {
            color: $green;
            font-weight: bold;
        }
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 30px;

        &__info {
            color: $white;
            font-size: 10px;
            text-align: right;
            max-width: 200px;
        }

        &__form {
            display: flex;
            justify-content: flex-end;
            margin: 5px 0;

            input {
                width: 95px;
                height: 36px;
                background: $brown;
                color: $black;
                border: none;
                border-radius: 5px;
                left: 10px;
                padding-left: 5px;
            }
        }
    }
}