.header {
  &__top {
    background: $black;
    padding: 5px 0;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__bottom{
    padding: 15px 0;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .social {
    &__icons {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    }

  }

  .logo {
    min-width: 86px;
  }

  .phone {
    display: flex;
    flex-direction: column;
    text-align: right;
    &__link {
      font-size: 12px;
      color: $green;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__workhours {
      font-size: 8px;
      color: $black;
    }
  }

  .cart {
      .icon-cart {
        color: $black;
        font-size: 25px;
        top: 2px;
      }
  }

  .menu__list {
    display: flex;
    a {
      font-size: 12px;
      font-weight: 500;
      &:hover {
        transition: 0.5s all;
        color: $green;
      }
    }
  }
  .menu__link {
    color: $white;
    text-transform: uppercase;
    margin-right: 15px;
    &:last-child {
      margin-left: 15px;
    }
  }
  .menu__btn {
    width: 25px;
    height: 25px;
    border: 1px solid $black;
    border-radius: 5px;
    background: $white;
    position: relative;
    &::after {
      content:'';
      position: absolute;
      width: 15px;
      height: 1px;
      border-radius: 10px;
      background: $green;
      top: 7px;
      left: 4px;
      box-shadow: 0 4px 0 0 $green, 0 8px 0 0 $green;
    }
  }
}