.head {
    .title {
        text-align: right;
        font-size: 24px;
        margin-top: 52px;
        color: $white;
        &-brown {
            color: $brown;
            text-transform: uppercase;
        }
    }
    .subtitle {
        text-align: right;
        font-size: 24px;
        color: $white;
    }
    .top-slider__item {
        background-image: url('../img/head/head_bg-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-width: 285px;
        padding: 52px 0;
    }
    .slick-dots { 
        position: absolute;
        top: 130px;
        left: 5px;
        display: flex;
        flex-direction: column;
        align-self: center;
        button {
            font-size: 0;
            border-radius: 50px;
            width: 8px;
            height: 8px;
            background: $brown;
            border-color: $black;
        }
    }
}