.header {
  &__top {
    display: none;
  }

  &__bottom {
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
  }

  .social {
    &__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
    }

    &__icon {
      color: $white;
      transition: 0.5s all;
      font-size: 24px;

      &:hover {
        color: $green;
      }
    }
  }

  .bottom {
    &__list {
      display: none;
    }
  }

  .mobile {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 0px;
    left: -100%;
    width: 50%;
    height: 100%;
    padding: 0 15px;
    background-color: $black;
    transition: 0.6s all;
    z-index: 2;
    opacity: 0.9;

    &_active {
      left: 0;
    }

    &__item {
      padding: 10px 0;

      &:first-child {
        padding-top: 30px;
      }
    }

    &__link {
      font-size: 12px;
      color: $white;
      transition: 0.5s all;

      &:hover {
        color: $green;
      }
    }
  }

  .logo {
    &-img {
      width: 76px;
    }
  }

  .phone {
    display: flex;
    flex-direction: column;

    &__link {
      font-size: 14px;
      color: $green;
      text-transform: uppercase;
      font-weight: bold;
    }

    &__workhours {
      font-size: 8px;
      color: $black;
      text-align: right;
    }
  }

  .cart {
    .icon-cart {
      color: $black;
      font-size: 20px;
      transition: 0.5s all;

      &:hover {
        color: $green;
      }
    }
  }

  .hamburger {
    top: 12px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: 1px solid $black;
    border-radius: 5px;
    padding: 5px;

    span {
      display: block;
      height: 1px;
      width: 12px;
      background-color: $green;
      margin-bottom: 4px;
      transition: 0.5s all;
    }

    &_active {
      span {
        margin-bottom: -2px;

        &:nth-child(1) {
          transform: translateY(5px) rotate(-45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: translateY(6px) rotate(45deg);
        }
      }
    }
  }
}