.popular {
    padding: 15px 0;

    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__link {
        flex-basis: 30%;
        text-align: center;
        border-radius: 5px;
        color: $black;
        padding: 8px;
        border: 1px solid $green;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 15px;

        &:first-child {
            min-width: 100%;
            background: $green;
            padding: 10px 0;
            color: $white;
        }
    }

    .products {
        display: flex;
        flex-direction: column;
    }

    .big {
        &__card {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &__description {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            min-height: 180px;
            border-radius: 10px;
            margin-top: 15px;
            padding: 15px;
            color: $black;

            &-first {
                background: url("../img/popular/bigcard-1.jpg") (center / cover) no-repeat;
            }

            &-second {
                background: url("../img/popular/bigcard-2.jpg") (center / cover) no-repeat;
            }
        }

        &__type {
            font-size: 12px;
        }

        &__name {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            color: $green;
        }

        &__price {
            color: $white;
            font-size: 14px;
        }
    }

    .small {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__card {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            width: 47.5%;

            img {
                border-radius: 10px;
            }
        }

        &__name {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            color: $green;
            margin-top: 15px;
        }

        &__type {
            font-size: 12px;
            color: $black;
            margin-top: 5px;
        }

        &__price {
            color: $black;
            font-weight: bold;
            font-size: 14px;
            margin-top: 5px;
        }

        &__link {
            background: $green;
            border-radius: 5px;
            width: 80px;
            height: 30px;
            font-size: 10px;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            margin-top: 15px;
            line-height: 3.2;
        }
    }
}