.title {
    &-upline {
        border: 2px solid $green;
        width: 60px;
    }

    &-section {
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 2;
    }
}