.title {
    .underline {
        border-bottom: 1px solid $green;
    }

    &--cursive {
        color: $brown;
        background-color: $green;
        padding: 5px 10px;
        border-radius: 10px;
    }

    &-section {
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 2;
    }
}