@media (min-width: 640px) {
    .catalog {
        &-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-item {
            width: 47%;
        }
    }
}

@media (min-width: 768px) {
    .catalog {

        &-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-item {
            width: 47%;
        }
    }
}