@media (min-width: 375px) {
    .categories {
        &__link {
            min-height: 140px;

            &--chest {
                grid-area: chest;
                background: url('../img/categories/chest/chest-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--consoles {
                grid-area: consoles;
                background: url('../img/categories/consoles/consoles-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--chairs {
                grid-area: chairs;
                background: url('../img/categories/chairs/chairs-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--racks {
                grid-area: racks;
                background: url('../img/categories/seat-mobile.webp');
                background-size: cover;
                background-position: center;
            }

            &--coffee {
                grid-area: coffee;
                background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--seats {
                grid-area: seats;
                background: url('../img/categories/chest/chest-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--tv-table {
                grid-area: tv-table;
                background: url('../img/categories/consoles/consoles-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--shelfs {
                grid-area: shelfs;
                background: url('../img/categories/chairs/chairs-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--wardrobe {
                grid-area: wardrobe;
                background: url('../img/categories/seat-mobile.webp');
                background-size: cover;
                background-position: center;
            }

            &--dinner {
                grid-area: dinner;
                background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--hangers {
                grid-area: hangers;
                background: url('../img/categories/chest/chest-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--bar-chairs {
                grid-area: bar-chairs;
                background: url('../img/categories/consoles/consoles-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--shoe-cabinets {
                grid-area: shoe-cabinets;
                background: url('../img/categories/chairs/chairs-small.jpg');
                background-size: cover;
                background-position: center;

            }

            &--table {
                grid-area: table;
                background: url('../img/categories/seat-mobile.webp');
                background-size: cover;
                background-position: center;
            }

            &--desk {
                grid-area: desk;
                background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                background-size: cover;
                background-position: center;
            }
        }
    }
}

@media (min-width: 425px) {
    .categories {
        &__link {
            min-height: 180px;
            font-size: 18px;

            &__link {

                &--chest {
                    grid-area: chest;
                    background: url('../img/categories/chest/chest-small.webp');
                    background-size: cover;
                    background-position: center;
                }

                &--consoles {
                    grid-area: consoles;
                    background: url('../img/categories/consoles/consoles-small.jpg');
                    background-size: cover;
                    background-position: center;
                }

                &--chairs {
                    grid-area: chairs;
                    background: url('../img/categories/chairs/chairs-small.jpg');
                    background-size: cover;
                    background-position: center;
                }

                &--racks {
                    grid-area: racks;
                    background: url('../img/categories/seat-mobile.webp');
                    background-size: cover;
                    background-position: center;
                }

                &--coffee {
                    grid-area: coffee;
                    background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                    background-size: cover;
                    background-position: center;
                }

                &--seats {
                    grid-area: seats;
                    background: url('../img/categories/chest/chest-small.webp');
                    background-size: cover;
                    background-position: center;
                }

                &--tv-table {
                    grid-area: tv-table;
                    background: url('../img/categories/consoles/consoles-small.jpg');
                    background-size: cover;
                    background-position: center;
                }

                &--shelfs {
                    grid-area: shelfs;
                    background: url('../img/categories/chairs/chairs-small.jpg');
                    background-size: cover;
                    background-position: center;
                }

                &--wardrobe {
                    grid-area: wardrobe;
                    background: url('../img/categories/seat-mobile.webp');
                    background-size: cover;
                    background-position: center;
                }

                &--dinner {
                    grid-area: dinner;
                    background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                    background-size: cover;
                    background-position: center;
                }

                &--hangers {
                    grid-area: hangers;
                    background: url('../img/categories/chest/chest-small.webp');
                    background-size: cover;
                    background-position: center;
                }

                &--bar-chairs {
                    grid-area: bar-chairs;
                    background: url('../img/categories/consoles/consoles-small.jpg');
                    background-size: cover;
                    background-position: center;
                }

                &--shoe-cabinets {
                    grid-area: shoe-cabinets;
                    background: url('../img/categories/chairs/chairs-small.jpg');
                    background-size: cover;
                    background-position: center;

                }

                &--table {
                    grid-area: table;
                    background: url('../img/categories/seat-mobile.webp');
                    background-size: cover;
                    background-position: center;
                }

                &--desk {
                    grid-area: desk;
                    background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .categories {

        &__grid {
            &--first {
                margin-top: 30px;
                display: grid;
                grid-template-columns: 1.2fr 1.2fr 1fr 1fr;
                grid-template-rows: 0.6fr 0.1fr 0.6fr;
                gap: 15px 15px;
                grid-template-areas:
                    "chest chairs coffee coffee"
                    "chest racks coffee coffee"
                    "consoles racks coffee coffee";
            }

            &--second {
                margin-top: 15px;
                display: grid;
                grid-template-columns: 1.2fr 1.2fr 1fr 1fr;
                grid-template-rows: 0.6fr 0.1fr 0.6fr;
                gap: 15px 15px;
                grid-template-areas:
                    "dinner dinner seats shelfs"
                    "dinner dinner seats wardrobe"
                    "dinner dinner tv-table wardrobe";
            }

            &--third {
                margin-top: 15px;
                display: grid;
                grid-template-columns: 1.2fr 1.2fr 1fr 1fr;
                grid-template-rows: 0.6fr 0.1fr 0.6fr;
                gap: 15px 15px;
                grid-template-areas:
                    "hangers bar-chairs desk desk"
                    "hangers table desk desk"
                    "shoe-cabinets table desk desk";
            }
        }

        &__link {
            min-height: 200px;
            font-size: 16px;

            &--chest {
                grid-area: chest;
                background: url('../img/categories/chest/chest-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--consoles {
                grid-area: consoles;
                background: url('../img/categories/consoles/consoles-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--chairs {
                grid-area: chairs;
                background: url('../img/categories/chairs/chairs-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--racks {
                grid-area: racks;
                background: url('../img/categories/seat-mobile.webp');
                background-size: cover;
                background-position: center;
            }

            &--coffee {
                grid-area: coffee;
                background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--seats {
                grid-area: seats;
                background: url('../img/categories/chest/chest-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--tv-table {
                grid-area: tv-table;
                background: url('../img/categories/consoles/consoles-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--shelfs {
                grid-area: shelfs;
                background: url('../img/categories/chairs/chairs-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--wardrobe {
                grid-area: wardrobe;
                background: url('../img/categories/seat-mobile.webp');
                background-size: cover;
                background-position: center;
            }

            &--dinner {
                grid-area: dinner;
                background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--hangers {
                grid-area: hangers;
                background: url('../img/categories/chest/chest-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--bar-chairs {
                grid-area: bar-chairs;
                background: url('../img/categories/consoles/consoles-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--shoe-cabinets {
                grid-area: shoe-cabinets;
                background: url('../img/categories/chairs/chairs-small.jpg');
                background-size: cover;
                background-position: center;

            }

            &--table {
                grid-area: table;
                background: url('../img/categories/seat-mobile.webp');
                background-size: cover;
                background-position: center;
            }

            &--desk {
                grid-area: desk;
                background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                background-size: cover;
                background-position: center;
            }
        }
    }
}

@media (min-width: 1170px) {
    .categories {
        padding: 30px 0;

        &__grid {
            gap: 30px 30px;
            margin-top: 30px;
        }

        &__link {
            font-size: 22px;
            min-height: 180px;

            &--chest {
                grid-area: chest;
                background: url('../img/categories/chest/chest-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--consoles {
                grid-area: consoles;
                background: url('../img/categories/consoles/consoles-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--chairs {
                grid-area: chairs;
                background: url('../img/categories/chairs/chairs-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--racks {
                grid-area: racks;
                background: url('../img/categories/seat-mobile.webp');
                background-size: cover;
                background-position: center;
            }

            &--coffee {
                grid-area: coffee;
                background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--seats {
                grid-area: seats;
                background: url('../img/categories/chest/chest-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--tv-table {
                grid-area: tv-table;
                background: url('../img/categories/consoles/consoles-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--shelfs {
                grid-area: shelfs;
                background: url('../img/categories/chairs/chairs-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--wardrobe {
                grid-area: wardrobe;
                background: url('../img/categories/seat-mobile.webp');
                background-size: cover;
                background-position: center;
            }

            &--dinner {
                grid-area: dinner;
                background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--hangers {
                grid-area: hangers;
                background: url('../img/categories/chest/chest-small.webp');
                background-size: cover;
                background-position: center;
            }

            &--bar-chairs {
                grid-area: bar-chairs;
                background: url('../img/categories/consoles/consoles-small.jpg');
                background-size: cover;
                background-position: center;
            }

            &--shoe-cabinets {
                grid-area: shoe-cabinets;
                background: url('../img/categories/chairs/chairs-small.jpg');
                background-size: cover;
                background-position: center;

            }

            &--table {
                grid-area: table;
                background: url('../img/categories/seat-mobile.webp');
                background-size: cover;
                background-position: center;
            }

            &--desk {
                grid-area: desk;
                background: url('../img/categories/coffee-tables/coffee-table-small.webp');
                background-size: cover;
                background-position: center;
            }
        }
    }
}