@media (min-width: 320px) {
    .head {
        .container {
            &:before {
                display: none;
            }
        }

        .main-slider {
            .slick-dots {
                display: none;
            }
        }
    }
}

@media (min-width: 375px) {
    .head {
        .main-slider {
            &__description {
                margin-right: 30px;
            }

            &__title {
                font-size: 24px;
            }

            &__subtitle {
                font-size: 16px;
            }

            &__slick-dots {
                top: 35%;
                left: 10px;
            }

            &__item {
                background-image: url('../img/head/slide-1/slide_bg-large.webp');
                min-height: 250px;
            }
        }
    }
}

@media (min-width: 425px) {
    .main-slider {
        &__item {
            background-image: url('../img/head/slide-1/slide_bg-tablet.webp');
            min-height: 438px;
        }

        &__description {
            margin-left: 30px;
        }

        &__title {
            font-size: 24px;
            margin-top: 120px;
        }

        &__subtitle {
            margin-top: 15px;
            font-size: 18px;
        }

        .slick-dots {
            top: 43%;

            button {
                width: 10px;
                height: 10px;
            }
        }
    }
}


@media (min-width: 768px) {
    .head {
        .container {
            &:before {
                display: block;
                content: url('../img/head/tree-desktop.png');
                position: absolute;
                top: 0;
                right: 0;
                min-height: 533px;
                z-index: 2;
            }
        }

        .main-slider {
            &__item {
                background-image: url('../img/head/slide-1/slide_bg-tablet.webp');
                min-height: 440px;
            }

            &__description {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 90px;
            }

            &__title {
                text-align: right;
                font-size: 40px;
            }

            &__subtitle {
                text-align: right;
                font-size: 22px;
            }
        }
    }
}


@media (min-width: 1024px) {
    .head {
        .container {
            &:before {
                content: url('../img/head/tree-desktop.png');
                top: 30%;
                right: -14%;
            }
        }

        .main-slider {
            &__item {
                background-image: url('../img/head/slide-1/slide_bg-desktop.webp');
                min-height: 578px;
            }

            &__description {
                margin-right: 180px;
            }

            &__title {
                margin-top: 150px;
                font-size: 50px;
                font-weight: 500;
            }

            &__subtitle {
                font-size: 28px;
                margin-top: 15px;
                font-weight: 300;
            }

            &__slick-dots {
                top: 254px;
                left: 30px;

                button {
                    width: 13px;
                    height: 13px;

                    &:active {
                        background-color: $green;
                    }
                }
            }
        }
    }
}