@media (min-width: 375px) {
    .head {
        .top-slider__item {
            background-image: url('../img/head/head_bg-large.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 250px;
        }
    }
}

@media (min-width: 425px) {
    .head {
        .container {
            &:before {
                content: url('../img/head/tree-tablet.png');
                position: absolute;
                top: 20%;
                right: -1%;
                z-index: 1;
            }
        }

        .top-slider__item {
            background-image: url('../img/head/head_bg-tablet.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 440px;
        }
    }
}

@media (min-width: 768px) {
    .head {
        .top-slider__item {
            background-image: url('../img/head/head_bg-tablet.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 440px;
        }
    }
}

@media (min-width: 1100px) {
    .head {
        .container {
            &:before {
                content: url('../img/head/tree-tablet.png');
                position: absolute;
                top: 23%;
                right: -13%;
                z-index: 1;
                min-height: 533px;
            }
        }

        .top-slider__item {
            background-image: url('../img/head/head_bg-desktop.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 578px;
        }

        .slick-dots {
            top: 254px;
            left: 30px;

            button {
                width: 13px;
                height: 13px;

                &:active {
                    background-color: $green;
                }
            }
        }

        .title {
            margin-top: 120px;
            text-align: right;
            font-size: 38px;
            font-weight: 700;
        }

        .subtitle {
            text-align: right;
            font-size: 28px;
            margin-top: 15px;
            font-weight: 700;
        }

        .top-slider__description {
            margin-right: 100px;
        }
    }
}