@media (min-width: 375px) {
    .popular {
        .big {
            &__description {
                min-height: 200px;
            }

            &__name {
                font-size: 16px;
            }

            &__type {
                font-size: 14px;
                margin-top: 10px;
            }

            &__price {
                font-size: 16px;
                margin-top: 5px;
            }

        }

        .small {
            &__name {
                font-size: 16px;
            }

            &__type {
                font-size: 14px;
                margin-top: 10px;
            }

            &__price {
                font-size: 16px;
                margin-top: 15px;
            }

            &__link {
                width: 120px;
                height: 40px;
                font-size: 12px;
                margin-top: 15px;
                line-height: 3.5;
            }
        }
    }
}

@media (min-width: 425px) {
    .popular {
        .big {
            &__description {
                min-height: 400px;
            }

            &__name {
                font-size: 22px;
            }

            &__type {
                font-size: 18px;
            }

            &__price {
                font-size: 22px;
            }
        }

        .small {
            &__name {
                font-size: 18px;
            }

            &__type {
                font-size: 14px;
            }

            &__price {
                font-size: 18px;
            }
        }
    }
}

@media (min-width: 768px) {
    .popular {
        padding: 30px 0;

        &__links {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
        }

        &__link {
            margin: 0 5px;

            &:first-child {
                min-width: 5%;
                padding: 12px 10px;
                order: 4;
            }

            &:nth-child(2) {
                order: 6;
            }

            &:nth-child(3) {
                order: 5;
            }

            &:nth-child(4) {
                order: 6;
            }
        }

        .big {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 15px;

            &__description {
                min-height: 240px;
            }

            &__card {
                width: 48.5%;
            }
        }

        .small {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            &__card {
                width: 23%;
                margin-top: 30px;
            }
        }
    }
}