@media (min-width: 375px) {
    .product {
        &-card {
            &__slider {
                &-img {
                    min-height: 345px;
                }
            }

            &__nav {
                &-thumbnails {
                    &-img {
                        min-height: 95px;
                        min-width: 95px;
                    }
                }
            }
        }
    }
}

@media (min-width: 425px) {
    .product {
        &-card {
            &__slider {
                &-img {
                    min-height: 395px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .product {
        &-card {
            display: flex;
            justify-content: space-between;

            &__inner {
                &-slider {
                    display: flex;
                    flex-direction: column;
                    width: 49%;
                }

                &-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 49%;
                }
            }

            &__slider {
                &-img {
                    min-height: 345px;
                }
            }

            &__info {
                &-description {
                    font-size: 12px;
                }
            }

            &__tabs {
                display: flex;
                flex-direction: row;
                font-size: 10px;
                justify-content: space-between;
                margin-top: 0;
            }

            &__materials {
                display: flex;
                justify-content: space-between;

                &-item {
                    font-size: 10px;
                    width: 30%;

                    select {
                        width: 100%;
                        height: 35px;
                        padding: 0;
                        padding-left: 5px;
                    }
                }

                &-description {
                    font-size: 12px;
                    padding-top: 5px;
                }
            }
        }
    }
}